* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
select {
  width: 100%;
  margin-top: 15px;
  padding: 1rem;
  font-size: 15px;
}

.validaton-message {
  color: red;
  font-style: 20px;
  font-weight: 600;
  margin-top: 0.6rem;
  padding: 0.5rem;
}

/* register page styling */
.register,
.login-area {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: #e4dede;
}

.register-area {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background: #fff;
  position: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  border-left: 15px solid rgb(174, 171, 171);
  margin-top: 5px;
}

.left-side,
.login-area .login-box .left-side {
  width: 50%;
  padding: 2rem 2rem 3rem 3rem;
}

.right-side,
.login-area .login-box .left-side {
  width: 50%;
  padding: 2rem 2rem 3rem 3rem;
}

.register-area .right-side img {
  width: 100%;
  height: auto;
}

.register-area .right-side .img-box span {
  margin-top: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-area .right-side .img-box span a,
.login-area .login-box .right-side .img-box span a {
  margin-left: 10px;
  color: #555;
  text-decoration: none;
}

.register-area .left-side h3,
.login-area .login-box .left-side h3 {
  color: #555;
  margin-bottom: 20px;
}

/*====== Login form style =========*/

.login-area .login-box {
  width: auto;
  padding: 2rem;
  margin: auto;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  border-left: 15px solid rgb(174, 171, 171);
}

.login-area .login-box .right-side img {
  width: 300px;
  height: auto;
}

.login-area .login-box .right-side .img-box span {
  margin-top: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-area .login-box .login .right-side img {
  width: 300px;
  height: auto;
}

.login-area .login-box .password-field {
  display: flex;
  align-items: center;
}

.login-area .login-box .password-field .show-password {
  margin-top: 18px;
  margin-left: -30px;
  align-items: flex-end;
  z-index: 999;
}

/* Style for Add Items at Admin panel */
.form-group label {
  font-size: 17px;
  font-weight: 600;
  margin: 0 10px;
}

.form-group input {
  width: 100%;
  height: 4%;
}

/* style for button */
.button {
  background-color: rgb(94, 162, 245);
  padding: 3%;
  border: none;
  border-radius: 0;
  color: rgb(35, 35, 35);
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 25px;
}

/* card page styling  from card*/
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 210px;
  box-shadow: 0px 0px 1px 0px #6a6c6e;
  border-radius: 10px;
  margin: 40px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  border: 5px solid #f4f6f9;
  overflow: hidden;
}

.categoryImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.categoryImage img {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.category .editDelete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgb(231, 228, 228);
}

.category .delete_icon {
  padding: 5px 10px;
  width: 15px;
  height: 15px;
  color: rgb(245, 77, 77);
  transition: 0.5s
}

.category .edit_icon {
  padding: 5px 10px;
  width: 15px;
  height: 15px;
  color: rgb(143, 134, 245);
  transition: 0.5s
}

.category:hover {
  scale: 1.05;
  cursor: pointer;
  transition: 0.3s;
}

/* card page styling  from Items*/
.mainCard {
  margin: 10px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.adminCard {
  margin: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* For navBaar design*/

.logo {
  margin-top: 10px;
  margin-left: 15px;
}

.navBox1 {
  display: flex;
  align-items: center;
  width: 25%;
  height: 80px;
  color: white;
  background: linear-gradient(135deg, #561750 0%, #152d87 100%);
  padding: 10px;
  font-size: 1.7rem;
  font-family: "Sofia";
  text-align: center;
  margin-bottom: -14px;

}

.navBox1 {
  cursor: pointer;
}

.navBox2 {
  margin-left: 25%;
  margin-top: -66px;
  width: 75%;
  height: 80px;
  color: white;
  background-color: rgb(32, 147, 248);
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box-shadow: 10px 0 5px 2px black; */
}

.account_settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.naveItems {
  border: 1px solid #152d87;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 1.1rem;
  background-color: #f5f1f1;
  transition: 0.2s;
}

.naveItems:hover {

  transition: 0.2s;
  background-color: #2705d3;
  color: #fff;
}

.search {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 40px;

}

.search_icon {
  position: absolute;
  padding: 12px 20px;
  margin-left: 71.1%;
  border: 2px solid rgb(215, 209, 209);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgb(248, 247, 247);
  margin-top: 15px;
  font-size: 1.1rem;
}

.search_icon:hover {
  cursor: pointer;
  background-color: rgb(238, 236, 236);
}

.search_box {
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  border: 2px solid rgb(215, 209, 209);
  background-color: ffffff;
  font-size: 1.1rem;
}

.skeleton {
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.account_settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account_settings button {
  margin: 0 20px;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  transition: 0.5s;
}

.account_settings button:nth-child(4) {
  color: red
}

.account_settings button:hover {
  transition: 0.5s;
  scale: 1.1;
  cursor: pointer;
}

.name_admin {
  position: absolute;
  margin-top: 10px;
  margin-left: 65%;
  font-size: 1.4rem;
}

.user_icon {
  position: absolute;
  margin-top: -20px;
  width: 25px;
  height: 25px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  float: right;
  margin-right: 15%;
  width: 25px;
  height: 25px;
}

.icon:hover {
  cursor: pointer;
}

.icon:hover .user_details {
  display: block;
}

.user_details {
  margin-top: 140px;
  width: 150px;
  height: 115px;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(32, 147, 248);
  border-radius: 10px;
  display: none;
  z-index: 1;
}

.button_logout {
  padding: 7px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #561750 0%, #152d87 100%);
  margin: 15px;
  color: white;
}

.button_logout:hover {
  cursor: pointer;
  scale: 1.1;
}

.user_name {
  margin-left: 10px;
  color: rgb(32, 147, 248);
}

.adminDrawer {
  position: absolute;
  margin-top: -42px;
  margin-left: 20px;
  width: 27px;
  height: 27px;
  color: white;
}

.adminDrawer:hover {
  cursor: pointer;
  color: rgb(32, 147, 248);
}

.addItems {
  position: absolute;
  margin-top: -42px;
  margin-left: 30%;
  background-color: rgb(32, 147, 248);
  color: white;
  font-size: 1.2rem;
  padding: 0 10px;
}

.addItems:hover {
  background-color: white;
}

#adminTheme {
  background-color: #78290f;
}

#adminThemeBackground {
  /* background-color: #ff9c9c */
}

#userTheme {
  background-color: #15616d;
}

#userThemeBackground {
  background-color: #efefef;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../src/image/5183268.jpg");
  background-size: cover;
}

.fourofour {
  font-size: 6rem;
  margin: 40px 0;
}

.wrong-text {
  font-size: 2rem;
  margin: 0 0 0 20px;
}

@media screen and (max-width: 768px) {
  .navBox1 {
    width: 100%;
    text-align: left;
  }

  .navBox2 {
    width: 0%;
    margin-left: 99%;
  }

  .icon {
    margin-right: 30px;
  }

  .category {
    width: 300px;
    height: 300px;
  }


  .name_admin {
    position: absolute;
    margin-top: 10px;
    margin-left: -55%;
    font-size: 1.4rem;
    color: red;
  }

  .addItems {
    margin-left: 50%;
    background-color: rgb(231, 111, 81);
  }

  .addItems {
    margin-left: 50%;
    background-color: rgb(231, 111, 81);
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  margin-top: 100px;
}

.drag-receiver-marker {
  background-color: rgb(235, 13, 13);
}

/* card */

.card-box {
  width: 220px;
  height: 200px;
  border: 3px solid lavender;
  transition: .5s;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-box .card-img {
  margin-bottom: 25px;

  align-content: center;
  width: 70%;
  /* height: 130px; */
}

.card-box .card-img img {
  width: 100%;
}


/* pagination */
.pagination {
  margin: 50px;
  display: flex;
  justify-content: center;
}



/* order list box */
.order-list-box h3 {
  width: 70%;
  padding: .5rem 1rem;
  background-color: #efefef;
  margin: 30px 15%;
}

/* ============order box ============== */
.order-icon {
  color: rgb(83, 83, 138);
  /* font-size: 2rem; */
}

.flex {
  display: flex;
  gap: .8rem;

  align-items: center;
}

.order-box {
  width: 60%;
  margin: 2rem auto;
  background-color: #efefef;

}

.order-box .order-body .order-tilte-box h2,
.order-box .order-body .order-tilte-box h4 {
  text-transform: capitalize;
}

.order-box .order-body h4 {
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
  .order-box {
    width: 80%;
  }

  .order-box .order-body .order-tilte-box h2 {
    font-size: 1.4rem;
  }

  .order-box .order-body h4 {
    font-size: .9rem;
  }

  .order-subtitle-box {
    font-size: .9rem;
  }
}

.order-body {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem
}

.order-letter {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #fff;
  text-transform: uppercase;
  overflow: hidden;
}
.order-letter img{
  width: 100%;
  height: 100%;
}
.order-head {
  padding: .4rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  background: #845207;

}

.order-head span {
  padding: .3rem 1rem;
  font-weight: bold;
  background-color: red;
  border: 2px solid rgb(242, 239, 239);
}

.order-subtitle-box {
  color: #333232a0;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-around;
}



.order-footer {
  background-color: #e1dad6;
  padding: 1rem;
}

/* custom table style */
.customTable-box {
  margin: 3rem 5rem;

}

.customTable-box h3 {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: #e1dad6;
}

.customTable-box .table {
  border: 2px solid #e4dede;
}