* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* register section styling  */
.register-container {
  width: 100%;
  height: auto;
  display: flex;
  /* flex: 3; */
  /* padding: 4rem 3rem; */
  margin: 0rem auto;
  overflow-x: hidden;
}
.form-container {
  width: 55%;
  height: auto;
  margin: 4rem;
  text-align: center;
  border: 2px solid blue;
  border-radius: 1rem;
  flex: 2;
}
.form-container .title {
  font-size: 1.3rem;
  margin: 1rem;
  color: rgb(65, 65, 241);
}
input {
  /* height: 42px; */
  width: 70%;
  font-size: 0.9rem;
  padding: 0.4rem 0.3rem;
  margin: 0.2rem 0rem;
  outline: none;
  border: 1px solid blue;
  border-radius: 0.2rem;
  color: #333;
}
.acc_type {
  margin-top: 1.2rem;
  padding: 0.2rem 1rem;
  width: 20%;
  border-radius: 0.2rem;
  border: 1px solid;
}
.btn-cont {
  display: flex;
  /* width:66%; */
  
  justify-content: center;
}

.image-container {
  width: 45%;
  flex: 1;
}
