@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 190px;
    background-color: white;
    transition: 0.5s;
    box-shadow: 0 0 8px rgb(60, 55, 55);
    border-radius: 15px;
}

.card:hover {
    height: 400px;
}

.card:hover .setFile {
    display: block;
}

.imgbx {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(60, 127, 185);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    box-shadow: 0 0 10px rgb(210, 138, 138);
    overflow: hidden;
    transition: 0.5s;
    z-index: -1;
}

.card:hover .imgbx {
    width: 200px;
    height: 200px;
}

.imgbx img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

}

.card .contain .detail {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;

    transform: translateY(150px);
}

.card:hover .contain .detail {
    transform: translateY(0px);
}

.card .contain .detail h2 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2em;
}

.card .contain .detail h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .contain .detail .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.card .contain .detail .data h3 {
    font-size: 1em;
    color: rgb(53, 50, 50);
    line-height: 1.2em;
    font-weight: 600;
}

.card .contain .detail .data span {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}

.card .contain .detail .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.card .contain .detail .actionBtn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: linear-gradient(135deg, #561750 0%, #152d87 100%);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.card .contain .detail .actionBtn button:nth-child(2) {
    border: 1px solid gray;
    color: gray;
    background: white;
}

.card .contain .detail .actionBtn button:hover {
    scale: 1.1;
    transition: 0.5s;
}

.setFile {
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    width: 30px;
    height: 30px;
    color: rgb(8, 128, 233);
    display: none;
}